.container-fluid
  .row
    #area{:class => 'col-sm-9 col-md-9'}
      .panel{:class => 'panel-default'}
        .panel-body
          - for ($i=1; $i < 60;):
            .col-md-2
              %button{:class => 'btn table-area'} =$i
            - $i++
          - endfor
    #grid{:class => 'col-sm-3 col-md-3'}
      #jsGrid
      .row
        .col-md-6
          %button{:class => 'btn btn-default'} aaa
        .col-md-6
          %button{:class => 'btn btn-default'} bbb
      .row
        .col-md-6
          %button{:class => 'btn btn-default'} ccc
        .col-md-6
          %button{:class => 'btn btn-default'} ddd
= js_asset('grid.js')
